@model Mailbox.Models.HomeIndexViewModel
@using MailboxLib.Business

@section LogoffButton{
    @Html.Partial("LogoffButton")
}

@section NavStyle{
    <style>
    @{int i = 0;}
    @foreach(var row in Model.navSection){
        i++;
        <text> #navRow_@i .navLink{ width: @((double) (99.8-row.Count()*0.4)/row.Count())%; } </text>
    }
    </style>
}

@section NavSection{
    @Html.Partial("NavSection", Model.navSection)
}

<section id="mainContent">
    @Html.Partial("Email/Email_Create", new BEmail { Sender=User.Identity.Name})

    <datalist id="Friends">
        @foreach (var friend in Model.friendedUsers) { 
            <option value="@friend.Author_Name"/>
        }
    </datalist>
</section>